TOKEN=""
OPENAI_API_KEY=""
GUILD_ID=""
CLIENT_ID=""

YT_CREDENTIAL_USER=""

LAVALINK_NAME="" # You can name it as you like
LAVALINK_URL="" # Your lavalink server URL
LAVALINK_PORT= # Your lavalink port, default 2333
LAVALINK_PASS="" # Your lavalink password
LAVALINK_IS_SECURE= # Check if lavalink using SSL or not, default false

# Don't fill GUILD_ID if you want to make this bot public