{
  "token" : "",
  "api_key" : "",
  "ids" : {
    "ai_config" : {
      "channel" : "",
      "role" : ""
    },
    "guild" : "",
    "client" : ""
  },
  "explicit": {
    "roles": {
      "id" : [
        "",
        ""
      ]
    }
  }
}
